.home-container {
    // outline:none;
    border: hidden;
    // overflow-x: auto;
    width: 100%;
    height: 100%;

    background-color:#c2bec7;
    // background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    // display: table;
    // text-align: center;
}

.home-header {
      // vertical-align:middle;
       display: inline-block;
       // margin:0 auto;
    // float: left;
    // border: 1px solid;
    margin: 0.5em auto 0em;
    width: 97.5%;
    height: 90%;
    background-color:#FFFFFF;

    padding: 0.5em 0em 0em 0em;
    text-align: center;
}

.home-body {
    margin: 10px auto 3px;
    width: 97.5%;
    height: 87%;
    background-color:#e8e5e5;
}

.home-body-left {
    
     float:left;
    margin: 0.5em 0.5em 0.5em 0.5em;
    width: 70.5%;
    height: 96%;
    background-color:#FFFFFF;
    position: relative;

}

.home-body-right {
    float:right;
    margin: 0.5em 0.5em 0.5em 0em;
    padding: 0em 0em 0em 0em;
    width: 25%;
    height: 96%;
    background-color:#FFFFFF;
}


.home-body-right-test {
    float:right;
    margin: 0.5em 0.5em 0.5em 0em;
    padding: 0em 0em 0em 0em;
    width: 25%;
    height: 40%;
    background-color: transparent;
}
.deactive{display: none;}



.home-body-left-top {
      // vertical-align:middle;
       // display:inline-block;
       // margin:0 auto;
     float: left;
    // border: 1px solid;
    margin: 0.5em 0.5em 0.5em 0.5em;
    width: 97.5%;
    height: 60%;
    background-color:#ece4e4;
}

.home-body-left-down {
    padding: 0px 0px 0px 0px;
    float: left;
    margin: 0em 0.5em 0.5em 0.5em;
    max-width: 97.5%;
    height: 36%;
    background-color:#eaeadd;
}

.fake {
    height: 10%;
    display: block;
     margin: 0px auto 5px;
    // height: 10%;
    text-align: center;
}


.tabOneLayout {
    margin: 3px auto 3px;
    width: 97.5%;
    height: 100%;
    background-color: #e8e5e5;    
}




.home-body-right .circleBtn {
    width: 100%;
    height: 100%;
    overflow: scroll;
    float: left;
}


#form-combox-template {
    float: left;
    background: #fff;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 20px;
    overflow: scroll;
    max-height: 80%;
    width: 30%;
}