
!platforms/
platforms/*

!platforms/android/
platforms/android/*

!platforms/android/src/
platforms/android/src/*

!platforms/android/src/org/
platforms/android/src/org/*

!platforms/android/src/org/apache/
platforms/android/src/org/apache/*

!platforms/android/src/org/apache/cordova/
platforms/android/src/org/apache/cordova/*

!platforms/android/src/org/apache/cordova/dialogs/
platforms/android/src/org/apache/cordova/dialogs/*

!platforms/android/src/org/apache/cordova/dialogs/Notification.java

