.home-login-header {
    float: right;


    line-height: 20px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    color: #555555;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 0 10px 1px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #538fbe;
    border: 1px solid #2d6898;
    -webkit-box-shadow: 0px 6px 0px #2b638f;
    -moz-box-shadow: 0px 6px 0px #2b638f;
    box-shadow: 0px 6px 0px #2b638f;
}

