
tbody {
    display:block;
    height:450px;

  	overflow-y: scroll;
	overflow-x: hidden; 
	-webkit-overflow-scrolling: touch;
}
thead, tbody tr {
    display:table;
    width:99.9%;
    table-layout:fixed;
}
thead {
    // width: calc( 100% - 1em );
}




#RealtimeInfo_Today_Test-table {
	margin-bottom: 0px;
    position: absolute;

	// border-collapse: inherit;	
}

#RealtimeInfo_Today_Test-table thead th{
    vertical-align: middle;
}

#getBrandStatistics-table thead th{
    vertical-align: middle;
}


.container {
	padding-bottom: 0px;
}



#RealtimeInfo_Today_Test-table tbody td + td {
    text-align: right;
}

#getPosInfo-table tbody td + td, td + td + td, td + td + td + td {
    text-align: right;
}

#getBrandStatistics-table tbody td + td, td + td + td {
    text-align: right;
}

#portal-table tbody td + td{
    text-align: right;
}

table.showG1 .item_1 { display: table-cell; width: 33%;}
table.showG2 .item_1 { display: table-cell; width: 33%;}
table.showG3 .item_1 { display: table-cell; width: 33%;}
table.showG4 .item_1 { display: table-cell; width: 33%;}
table.showG5 .item_1 { display: table-cell; width: 33%;}
table.showG6 .item_1 { display: table-cell; width: 33%;}
table.showG7 .item_1 { display: table-cell; width: 33%;}


#portal-table, #getPosInfo-table, #getBrandStatistics-table {
    margin-bottom: 0px;
    // position: absolute;
    position: fixed;
}
