<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="application/javascript; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; connect-src 'self' https://backgridjs.com/examples/territories.json http://* ">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

        <!-- <link rel="stylesheet" href="css/jquery.mobile.structure-1.4.5.min.css" /> -->
        <link rel="stylesheet" href="css/jquery.mobile.min.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">

        <link rel="stylesheet" type="text/css" href="css/tabs/tab.css">

        <link rel="stylesheet" type="text/css" href="css/btns/circleBtn.css">

        <link rel="stylesheet" type="text/css" href="css/layouts/layout.css">
        
        <link rel="stylesheet" type="text/css" href="css/calculators/calculator.css">

        <link rel="stylesheet" type="text/css" href="css/layouts/homeLayout.css">

        <link rel="stylesheet" type="text/css" href="js/backgrid/lib/backgrid.css">
        <link rel="stylesheet" type="text/css" href="css/grids/customGrid.css">
        <link rel="stylesheet" type="text/css" href="js/backgrid/lib/backgrid.fixedheader.css">

        <link rel="stylesheet" type="text/css" href="css/todos/todo.css">

        <link rel="stylesheet" type="text/css" href="css/comboxs/combox.css">

        <link rel="stylesheet" type="text/css" href="css/clocks/clock.css">

        <link rel="stylesheet" type="text/css" href="css/logins/login.css">
        <link rel="stylesheet" type="text/css" href="css/tables/table.css">

        <link rel="stylesheet" type="text/css" href="css/tables/tablesaw.css">


<!-- <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"> -->
<link rel="stylesheet" type="text/css" href="css/2.3.1-bootstrap-combined.min.css">

        <link rel="stylesheet" type="text/css" href="css/btns/customBtn.css">

        <link rel="stylesheet" href="css/stacktable.css">

        <link rel="stylesheet" href="css/jquery.dataTables.min.css">

        <link rel="stylesheet" href="css/responsive-tables.css">

        <link rel="stylesheet" href="css/tables/table-fixedHeader.css">      

        <link rel="stylesheet" href="css/local_language.css">        

        <title>Hello World</title>


        <script type="text/template" id="firstPage">
            <div id="first">
              <div data-role="header" data-position="fixed">
                <h1>First Page</h1>
                <a href="/" data-icon="home">Home</a>
              </div>
            <div data-role="main" class="ui-content">
                <ul data-role="listview" data-inset="true">
                    <li><a href="#second">Got to second page</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
            </div>

              <div data-role="footer" data-position="fixed">
                <h1>A template project</h1>
              </div>
            </div>
        </script>

<script type="text/template" id="calculator-template">
<div style="" class="calculatorCustom">
    <form action="" id="calculator">


        
            <input type="hidden" id="operation" value=""/>
        
            
            <input type="button" value="7" id="7" style="width:50px; height:50px; float:left;"/>
            <input type="button" value="8" id="8" style="width:50px; height:50px; float:left;"/>
            <input type="button" value="9" id="9" style="width:50px; height:50px; float:left;"/>
            <input type="button" value="+" id="plus" style="width:50px; height:50px; float:left;"/>

            <br>
            <input type="button" value="4" id="4" style="width:50px; height:50px; float:left;"/>
            <input type="button" value="5" id="5" style="width:50px; height:50px; float:left;"/>
            <input type="button" value="6" id="6" style="width:50px; height:50px; float:left;"/>
            <input type="button" value="-" id="subtract" style="width:50px; height:50px; float:left;"/>
            <br>
            <input type="button" value="1" id="1" style="width:50px; height:50px; float:left;"/>
            <input type="button" value="2" id="2" style="width:50px; height:50px; float:left;"/>
            <input type="button" value="3" id="3" style="width:50px; height:50px; float:left;"/>
            <input type="button" value="*" id="product" style="width:50px; height:50px; float:left;"/>
            <br>
            <input type="button" value="0" id="0" style="width:50px; height:50px; float:left;"/>
            <input type="button" value="C" id="C" style="width:50px; height:50px; float:left; color:red;"/>
            <input type="button" value="=" id="equals" style="width:50px; height:50px; float:left;"/>
            <input type="button" value="/" id="divide" style="width:50px; height:50px; float:left;"/>
            <br>
            <input type="button" value="." id="dot" style="width:50px; height:50px; float:left;"/>
            <input type="button" value="back" id="backspace" style="width:50px; height:50px; float:left;"/>
    </form>
<div style="clear:both;"></div>
</script>

        <script id="user-template" type="text/template">


            <div id="first">
              <div data-role="header" data-position="fixed">
                <h1>User Page</h1>
                <a href="/" data-icon="home">Home</a>
              </div>
            <div data-role="main" class="ui-content">
                 <div>
                    <b><%= Id %></b>
                    <u><%= Name %></u>
                </div>
            </div>

            <div data-role="footer" data-position="fixed">
                <h1>A template project</h1>
              </div>
            </div>
        </script>


        <script type="text/template" id="todo-template">
            <li>
                <%= item.name %>
                <%= item.description %>
                <%= item.priority %>
            </li>
        </script>

        <script type="text/template" id="list-menu-item">
            <a href="#" class="list-title" data-list-id="<%= id %>"><%= title %></a> 
        </script>

        <script type="text/template" id="circle-btn-item">
            <span>
                <img src="<%= img_1 %>"><br> 
                <!-- <img src="<%= img_2 %>"> -->
                <%= name %>
            </span>
        </script>

        <script type="text/template" id="tab-item">
            <a class="" href="#<%= href %>" data-list-id=""><%= title %></a> 
        </script>


        <script type="text/template" id="tab-template">
            <header class="section-header"></header>
            <div class="section-body" ></div>
        </script>


        <script type="text/template" id="layout-template">                 
            <div class="layout-header"></div>
            <div class="layout-body">
                <div class="layout-body-left"></div>
                <div class="layout-body-right"></div>
            </div>
        </script>

        <script type="text/template" id="tabOneLayout-template">      
            <div class="home-body-left">
                <div class="home-body-left-top"></div>
                <dir class="home-body-left-down"></dir>
            </div>
            <dir class="home-body-right"></dir>
        </script>


        <script type="text/template" id="homeLayout-template">      
            <div class="fake">        
                <div class="home-header">
                    <div class="home-todos-header"></div>
                    <div class="home-clock-header"></div>
                    <div class="">
                        <a href="#" data-rel="dialog" id="loginIcon" class="home-login-header" >登入</a>
                    </div>
                    <div id="login">
                        test
                    </div>
                </div>

            </div> 
            <div class="home-body">


                <div id="tabs" style="height: 100%">
                    <ul class='nav nav-tabs' style="margin-bottom: 5px;"></ul>
                    <div style="height: 90%; width: 100%"></div>
                </div>


<!--                 <div class="home-body-left">
                    <div class="home-body-left-top"></div>
                    <dir class="home-body-left-down"></dir>
                </div>
                <dir class="home-body-right"></dir> -->
<!--                 <ul>
                  <li><a href="#">London</a></li>
                  <li><a href="#">Paris</a></li>
                  <li><a href="#">Tokyo</a></li>
                </ul> -->

<!--                 <dir class="home-body-right-test">
                    <section id="tabs">
                        <ul class='nav nav-tabs'></ul>
                        <div></div>
                    </section>
                </dir> -->
            </div>
        </script>



        <script type="text/template" id="stats-todo-template">

            <div class="todo-totalPrice" style="float: right; margin: 0px 0px 0px 9px;">小計: $<b><%= totalPrice %></b></div>

            <% if (done) { %>
              <!-- <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a> -->
              <a class="clear-completed">清除刪去 <%= done %> 項</a>
            <% } %>
            <!-- <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div> -->
            <div class="todo-count"> <b> 買 <%= remaining %> 項</b> </div>
        </script>


        <script type="text/template" id="todo-item-template">
            <div class="view">
              <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
              <label><%- title %></label>
              <label style="float:right"> $ <%- priceFormat %></label>
              <a class="destroy"></a>
            </div>
            <input class="edit" type="text" value="<%- title %>" />
        </script>


        <script type="text/template" id="todoapp-template">

            <header>
              <!-- <h1>Todos</h1> -->
              <h1>交易單</h1>
              <!-- <input id="new-todo" type="text" placeholder="What needs to be done?"/> -->
              <input id="new-todo" type="text" placeholder="手動輸入"/>
            </header>

            <section id="main" style="display: block;">
              <input id="toggle-all" type="checkbox"/>
              <!-- <label for="toggle-all">Mark all as complete</label>     -->
              <label for="toggle-all" style="color:blue">全選</label>      
              <ul id="todo-list"></ul>
            </section>
            
            <div class="footer-wrap">   
                <footer style="display: block;">
                  <!-- <div class="todo-count"><b>2</b> items left</div> -->
                  <div class="todo-count"><b>2</b> 交易筆數</div>
                </footer>
            </div>
        </script>


        <script type="text/template" id="clock-template">
            <div class="displayClock"> 
                <div class="date"><%- years %>年<%- months %>月<%- days %>日</div> 
                <div class="time"><%- hours %>:<%- minutes %>:<%- seconds %></div> 
            </div> 
        </script>




        <script type="text/template" id="comboxName-item-template">
            <option value="<%- name %>"><%- name %></option>          
        </script>

        <script type="text/template" id="form-combox-template">
            <form>


              Percentage:<br>
                <div id="comboxPercentageDataFromSysParms"></div>
              DateData:<br>
                <div id="comboxDateDataFromSysParms"></div>
            </form>
        </script>

        <script type="text/template" id="comboxUrl-item-template">
            <option value="<%- url %>"><%- url %></option>          
        </script>
        <script type="text/template" id="comboxDate-item-template">
            <option value="<%- date %>"><%- date %></option>          
        </script>
        <script type="text/template" id="comboxPercentage-item-template">
            <option value="<%- percentage %>"><%- percentage %></option>          
        </script>



<script type="text/template" id="label-tmpl">
    <li<% if(active){%><%= ' class="active"' %><%}%> data-label='<%= label %>'><a href="#"><%= label %></a></li>
</script>
<script type="text/template" id="content-tmpl">
    <div<% if(!active){%><%= ' class="deactive"' %><%}%> id='content-<%= label %>' style="height: 100%">
    <!-- <%= content %> -->
 <!--        <div id='content-<%= label %>-btns'>
        </div> -->
    </div>

</script>

<script type="text/template" id="content-tmpl-second">
    <div<% if(!active){%><%= ' class="deactive"' %><%}%> id='content-<%= label %>'>
    <!-- <%= content %> -->
        <!-- <h1>
            交易單2
        </h1> -->
    </div>
    

</script>

<script type="text/template" id="content-tmpl-third">
    <span<% if(!active){%><%= ' class="deactive"' %><%}%> id='content-<%= label %>'><%= content %>
        <h1>
            交易單3
        </h1>
    </span>
    

</script>

<script type="text/template" id="content-tmpl-fourth">
    <span<% if(!active){%><%= ' class="deactive"' %><%}%> id='content-<%= label %>'><%= content %>
        <h1>
            交易單4
        </h1>
        <div id="content-tab4-div"></div>
    </span>
    

</script>

<script type="text/template" id="portal">

    <div data-role="header" data-position='fixed' background="img/title-2.png">
        <h1><%= storeName %></h1>
        <!-- <a href="#" data-rel="dialog" id="loginIcon" class="ui-btn-right" >登入</a> -->
        <a href=<%= href %> class="ui-btn-right" id="myModal" <% if(register == "false") { %><%= ' style="display:none;"' %><%}%> ><%= status %></a>
        <!-- <a href="login.html" data-rel="dialog"  class="ui-btn-right" >登入</a> -->
    </div>

    <div data-role="content" id="portal-content">
<!--         <h3>Application Template for using Backbone.js and jQuery Mobile.</h3>
        <p>Backbone.js is used for code organization (Models, Views) and "routing".</p>
        <p>jQuery Mobile is used for its mobile styles and widgets. The routing and navigation capabilities of jQuery Mobile are disbled to let Backbone.js handle these requirements.</p>
        <p>This is the Home page. It was created dynamically using an underscore.js template.</p>
        <p>Navigate to:</p>
        <ul data-role="listview"  data-inset="true">
            <li><a href="#page1">Page 1</a></li>
            <li><a href="#page2">Page 2</a></li>
        </ul> -->
        <% if (register == "false") { %>

          <BUTTON style="background-color: #548DD4; width:35%;position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%); "id="register" value="register"><%= registerText %></BUTTON>



        <% } %>
    </div>

</script>

<script type="text/template" id="Company_Info">
    <div class="app">
        <p class=""><%= companyInfo_tw%></p>
        <p class="">TEL：02-2659-6977</p>
        <p class=""><%= companyInfo_china%></p>
        <p class="">TEL：021-6402-9658</p>
        
    </div>
</script>

<script type="text/template" id="RealtimeInfo_Today">

<!--     <div data-role="header" data-position="fixed">
        <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
        <h1>本日業績明細</h1>
    </div> -->

<!--         <div data-role="header" data-position="fixed">
  
    </div> -->

    <div data-role="content" id="RealtimeInfo_Today-content">
<div  class='table-container'>
    </div>

    </div>

    <div data-role="footer"  data-position="fixed" data-tap-toggle="false">
        <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
        <h1>本日業績明細</h1>
    </div>
    </body>

</script>

<script type="text/template" id="PageView">



    <div data-role="content">
        
    </div>

    <div data-role="footer"  data-position="fixed" data-tap-toggle="false">
        <a href="#" data-icon="back" class="back ui-btn-left"><%= back_text%></a>
        <!-- <h1>本日業績明細 PageView</h1> -->
        <!-- <h1 id="footer_h1" >Flaps Technology Corporation</h1> -->
        <h1 id="footer_h1" ><%= flaps_name%></h1>
        
    </div>
    

</script>


<script type="text/template" id="page1">

    <div data-role="header">
        <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
        <h1>Page 1</h1>
    </div>

    <div data-role="content">
        <p>This is Page 1. It was created dynamically using an underscore.js template.</p>
        <p>Navigate to:</p>
        <ul data-role="listview" data-inset="true">
            <li><a href="#">Home</a></li>
            <li><a href="#page2">Page 2</a></li>
        </ul>
    </div>

</script>

<script type="text/template" id="myModal">
<!--     <div data-role="header">
        <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
        <h1>Page 1</h1>
    </div> -->
    
        <!-- Modal -->
    <div class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div data-role="header">
                <a href="#" data-icon="back" class="back ui-btn-left"><%= back_text %></a>
                <h1><%= login %></h1>
            </div>
            <div data-role="content">
                <form id="loginForm" >
                    <div data-role="fieldcontainer" class="form-group">
                        <label for="code"><%= labelcode %></label>
                        <!-- <input type="text" id="code" name="code" value=""></input> -->
                        <input type="text" id="code" name="code" value=<%= code %>></input>
                        
                        <span class="help-block hidden"></span>
                    </div>
                    <div data-role="fieldcontainer" class="form-group">
                        <label for="pwd"><%= labelpwd %></label>
                        <!-- <input type="password" id="pwd" name="pwd" value=""></input> -->
                        <input type="password" id="pwd" name="pwd" value=<%= pwd %>></input>
                        <span class="help-block hidden"></span>
                    </div>
                    <div data-role="fieldcontainer" class="form-group">
                        <label for="sLang"><%= labelslang %></label>
                        <select name="sLang" style="" id="sLang">
                        <option value="zh_TW" <%= sLang == 'zh_TW' ?  'selected' : '' %> >
                        <!-- 中文(繁體) -->
                        <%= sel_zh_TW %>
                        </option>   


                        <option value="en_SG" <%= sLang == 'en_SG' ?  'selected' : '' %>  >
                        <!-- English(Singapore) -->
                        <%= sel_en_SG %>
                        </option>

                        <option value="zh_CN" <%= sLang == 'zh_CN' ?  'selected' : '' %>  >
                        <!-- 中文(簡體) -->
                        <%= sel_zh_CN %>
                        </option>
                              
                        </select>

                    </div>
                    <!-- <div data-role="fieldcontainer"> -->
                    <input type='submit' value= <%= submit %> id='loginButton' />
                    <!-- <input type='submit' value= '取得資料' id='loginButtonGetData' /> -->
                    <!-- </div> -->
                </form>
            </div>
        </div>
    </div>
</script>

<!-- 
        <div id="todoapp">
    <header>
      <h1>Todos by Backbone.js</h1>
      <input id="new-todo" type="text" placeholder="What needs to be done?"/>
    </header>

    <section id="main" style="display: block;">
      <input id="toggle-all" type="checkbox"/>
      <label for="toggle-all">Mark all as complete</label>      
      <ul id="todo-list"></ul>
    </section>
    
    <footer style="display: block;">
      <div class="todo-count"><b>2</b> items left</div>
    </footer>
</div> -->




        <script type="text/javascript" src="cordova.js"></script>

<!--         <script src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script> -->
        <script type="text/javascript" src="js/jquery.min.js"></script>     
        <script type="text/javascript" src="js/jquery.md5.js"></script>     
        <script type="text/javascript" src="js/jQuery.serializeObject.js"></script>
        <script type="text/javascript" src="js/index.js"></script>   
        <script type="text/javascript" src="js/jqmConfig.js"></script>   
        <script type="text/javascript" src="js/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="js/data-config.js"></script>
<script type="text/javascript" src="js/tablesaw.js"></script>
<script type="text/javascript" src="js/tablesaw-init.js"></script>

<!-- <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script> -->
<!-- <script type="text/javascript" src="js/2.3.1-bootstrap.min.js"></script> -->



        <script type="text/javascript" src="js/moment.min.js"></script>
        
        <!-- <script type="text/javascript" src="js/lodash.min.js"></script> -->
        <script type="text/javascript" src="js/underscore.js"></script>
        <script type="text/javascript" src="js/backbone.js"></script>
        <script type="text/javascript" src="js/hammer-1.0.3.js"></script>
        <script type="text/javascript" src="js/jquery.hammer.js"></script>
        <script type="text/javascript" src="js/backbone-validation.js"></script>
        <script type="text/javascript" src="js/Backbone.Validation.callbacks.js"></script>
        
        
        <script type="text/javascript" src="js/backbone.localStorage.js"></script>

        <script type="text/javascript" src="js/backgrid/lib/backgrid.js"></script>
        <script type="text/javascript" src="js/backgrid/lib/backgrid.fixedheader.js"></script>
        <!-- <script type="text/javascript" src="js/backgrid/lib/backgridCustomRow.js"></script> -->



        <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script> -->
        <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script> -->
        <!-- <script type="text/javascript" src="js/backbone.js"></script> -->


        <script type="text/javascript" src="js/appConfig.js"></script>


        <script type="text/javascript" src="js/UtilityForModel.js"></script>
        <script type="text/javascript" src="js/appModels.js"></script>


        <script type="text/javascript" src="js/UtilityForCollection.js"></script>
        <script type="text/javascript" src="js/appCollections.js"></script>

        <script type="text/javascript" src="js/views/lists/UtilityView.js"></script>
        <script type="text/javascript" src="js/views/lists/CollectionView.js"></script>
        <script type="text/javascript" src="js/appViews.js"></script>

        


        <script type="text/javascript" src="js/views/lists/listMenuView.js"></script>
        <script type="text/javascript" src="js/views/lists/listMenuItemView.js"></script>

        <script type="text/javascript" src="js/views/lists/circleBtnMenuView.js"></script>
        <script type="text/javascript" src="js/views/lists/circleBtnItemView.js"></script>



        <script type="text/javascript" src="js/grid.js"></script>




        <script type="text/javascript" src="js/appRouter.js"></script>
        <script type="text/javascript" src="js/tab.js"></script>

        
        <script type="text/javascript" src="js/views/lists/TodoView.js"></script>
        <script type="text/javascript" src="js/views/lists/TodoAppView.js"></script>

        <script type="text/javascript" src="js/Backbone.ModalDialog.js"></script>
        <script type="text/javascript" src="js/views/login.js"></script>
        <script type="text/javascript" src="js/clickFunctions.js"></script>

        <script type="text/javascript" src="js/Functions.js"></script>

        <script type="text/javascript" src="js/stacktable.min.js"></script>

        <script type="text/javascript" src="js/demo_test_collection_data.js"></script>
        
        <script type="text/javascript" src="js/demo_test_collection_data.js"></script>


<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/jquery.floatThead.js"></script>

<!-- <script type="text/javascript" src="js/responsive-tables.js"></script> -->


<script type="text/javascript" src="js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="js/dataTables.fixedHeader.min.js"></script>

<script type="text/javascript" src="js/jquery.i18n.properties.js"></script>

    </head>
    <body>
<!--         <div class="app">
            <h1>Apache Cordova</h1>
            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
            </div>
        </div> -->
        
        


    </body>
</html>
