<script type="text/template" id="template-version">
</script>
<script type="text/template" id="test-row-template" >    
	<td columnGroup="" style="display:show;"><%= name %></td>
	<td columnGroup="C0" style="display:none;"><%= lastname %></td>
	<td columnGroup="C1" style="display:none;"><%= lastactivity %></td>
	<td columnGroup="C2" style="display:none;"><%= last %></td>
</script>

<script type="text/template" id="test-template" display_columns="1" now_column_index="0" total_length="3" Version="1.0.1">    
<thead>
<tr>
  <th columnGroup="" style="display:show;"><%= column_fix %></th>
  <th columnGroup="C0" style="display:none;"><%= column_C0 %></th>
  <th columnGroup="C1" style="display:none;"><%= column_C1 %></th>  
  <th columnGroup="C2" style="display:none;"><%= column_C2 %></th>  
</tr>
</thead>
<tbody></tbody>
</script>

<script type="text/template" id="test-row-template-two" >    
	<td columnGroup="" style="display:show;"><%= name %></td>
	<td columnGroup="C0" style="display:none;"><%= lastname %></td>
	<td columnGroup="C1" style="display:none;"><%= lastactivity %></td>
	<td columnGroup="C2" style="display:none;"><%= last %></td>
	<td columnGroup="C3" style="display:none;"><%= lastactivity_two %></td>
</script>

<script type="text/template" id="test-template-two" display_columns="2" now_column_index="0" total_length="4" Version="1.0.2">    
<thead>
<tr>
  <th columnGroup="" style="display:show;"><%= column_fix %></th>
  <th columnGroup="C0" style="display:none;"><%= column_C0 %></th>
  <th columnGroup="C1" style="display:none;"><%= column_C1 %></th>  
  <th columnGroup="C2" style="display:none;"><%= column_C2 %></th>  
  <th columnGroup="C3" style="display:none;"><%= column_C3 %></th>  
</tr>
</thead>
<tbody></tbody>
</script>