@media only screen and ( max-device-width: 480px ) {

	html:lang(en_SG) table thead th {
		font-size: 10px;
		overflow-wrap: break-word;
	}

	html:lang(en_SG) #RealtimeInfo_Today_Test-table thead th {
		 padding-top: 1px;
   		 padding-bottom: 1px;
	}

	#RealtimeInfo_Today_Test-table thead {
		height: 83px;
	}

	html:lang(en_SG) #getBrandStatistics-table thead th {
		 padding-top: 1px;
   		 padding-bottom: 1px;
	}
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

	html:lang(en_SG) table thead th {
		font-size: 14px;
		overflow-wrap: break-word;
	}

	html:lang(en_SG) #RealtimeInfo_Today_Test-table thead th {
			 padding-top: 5px;
	   		 padding-bottom: 5px;
	}

	#RealtimeInfo_Today_Test-table thead {
		height: 71px;
	}

	html:lang(en_SG) #getBrandStatistics-table thead th {
		 padding-top: 6px;
   		 padding-bottom: 6 px;
	}

}
